input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 999px;
  padding: 0;
  width: 60px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  vertical-align: middle;
}

input[type="color"]::-webkit-color-swatch {
  border: 2px solid var(--md-sys-color-on-background);
  border-radius: 999px;
  transition: border 0.2s ease;
}

input[type="color"]::-moz-color-swatch {
  border: 2px solid var(--md-sys-color-on-background);
  border-radius: 999px;
  transition: border 0.2s ease;
}

input[type="color"]:focus::-webkit-color-swatch {
  border: 2px solid var(--md-sys-color-primary);
}

input[type="color"]:hover::-webkit-color-swatch {
  border: 2px solid var(--md-sys-color-primary);
}

input[type="color"]:focus::-moz-color-swatch {
  border: 2px solid var(--md-sys-color-primary);
}

input[type="color"]:hover::-moz-color-swatch {
  border: 2px solid var(--md-sys-color-primary);
}
