footer {
    padding: 0px;
    box-sizing: border-box;
    display: block;
    align-content: center;
    position: sticky;
    margin: calc(0px - calc(var(--body-margin) * 1));
    margin-top: 10px;
    bottom: 0;
    left: 0;
    background-color: var(--md-sys-color-surface-container);
    width: calc(100% + calc(var(--body-margin) * 2));
    border-top: 1px solid grey;
    text-align: center;
    z-index: 999999;
}

footer * {
    text-align: center;
}