footer {
    padding: 0 10px;
    box-sizing: border-box;
    display: block;
    align-content: center;
    position: sticky;
    margin-top: 10px;
    bottom: 0;
    left: 0;
    background-color: var(--md-sys-color-surface-container);
    width: 100%;
    border-top: 1px solid grey;
    text-align: center;
    z-index: 999999;
}

footer * {
    text-align: center;
}