header {
    padding: 0 10px;
    box-sizing: border-box;
    display: block;
    align-content: center;
    position: sticky;
    margin-bottom: 10px;
    top: -1px;
    left: 0;
    background-color: var(--md-sys-color-surface-container);
    width: 100%;
    border-bottom: 1px solid grey;
    text-align: center;
    z-index: 999999;
}

header * {
    text-align: center;
}