*,
body,
body * {
    font-family: Poppins;
    color: var(--md-sys-color-on-background);
}

body {
    background-color: var(--md-sys-color-background);
}

:disabled {
    cursor: not-allowed;
    filter: grayscale(1) brightness(0.5);
    touch-action: none;
}

.dark,
.dark-high-contrast {
    color-scheme: dark;
}

.light,
.light-high-contrast {
    color-scheme: light;
}