input[type="range"] {
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    width: 100%;
    margin: 10px 0;
    border-radius: 999px;
    box-sizing: border-box;
    user-select: none !important;
    background-color: var(--md-sys-color-background);
    --text-width: 36px;
}

input[type="range"]::before {
    text-align: right;
    overflow-x: hidden;
    padding-top: 6px;
    height: 20px;
    transition: margin 0.2s ease-in-out, width 0.2s ease-in-out;
    content: attr(min);
    line-height: 10px;
    margin-right: calc(2px - var(--text-width));
    display: block;
    width: var(--text-width);
    margin-left: 0;
}

input[type="range"]:hover::before {
    margin-right: 8px;
}

input[type="range"]::after {
    text-align: left;
    overflow-x: hidden;
    padding-top: 6px;
    height: 20px;
    transition: margin 0.2s ease-in-out, width 0.2s ease-in-out;
    content: attr(max);
    line-height: 10px;
    margin-left: calc(2px - var(--text-width));
    display: block;
    width: var(--text-width);
    margin-right: 0;
    z-index: -9 !important;
}

input[type="range"]:hover::after {
    margin-left: 8px;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    background: var(--md-sys-color-secondary-container);
    border-radius: 999px;
    padding-right: 6px;
    z-index: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background: var(--md-sys-color-primary);
    margin: 3px;
    border-radius: 999px;
    cursor: pointer;
    position: relative;
    top: 0;
    border: none;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 20px;
    background: var(--md-sys-color-secondary-container);
    border-radius: 999px;
    padding-right: 3px;
    padding-left: 3px;
}

input[type="range"]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: var(--md-sys-color-primary);
    margin: 3px;
    border-radius: 999px;
    cursor: pointer;
    position: relative;
    top: 0;
    border: none;
}