.dark-high-contrast {
  --md-sys-color-primary: rgb(238 254 255);
  --md-sys-color-surface-tint: rgb(128 212 219);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(133 216 224);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(238 254 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(181 208 210);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(251 250 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(187 203 238);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(14 20 21);
  --md-sys-color-on-background: rgb(221 228 228);
  --md-sys-color-surface: rgb(14 20 21);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(63 72 73);
  --md-sys-color-on-surface-variant: rgb(243 253 253);
  --md-sys-color-outline: rgb(195 205 205);
  --md-sys-color-outline-variant: rgb(195 205 205);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(221 228 228);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 47 51);
  --md-sys-color-primary-fixed: rgb(161 245 252);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(133 216 224);
  --md-sys-color-on-primary-fixed-variant: rgb(0 26 28);
  --md-sys-color-secondary-fixed: rgb(209 236 238);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(181 208 210);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 26 28);
  --md-sys-color-tertiary-fixed: rgb(221 231 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(187 203 238);
  --md-sys-color-on-tertiary-fixed-variant: rgb(4 22 49);
  --md-sys-color-surface-dim: rgb(14 20 21);
  --md-sys-color-surface-bright: rgb(52 58 59);
  --md-sys-color-surface-container-lowest: rgb(9 15 16);
  --md-sys-color-surface-container-low: rgb(22 29 29);
  --md-sys-color-surface-container: rgb(26 33 33);
  --md-sys-color-surface-container-high: rgb(37 43 44);
  --md-sys-color-surface-container-highest: rgb(48 54 54);
}
