.light-medium-contrast {
  --md-sys-color-primary: rgb(0 75 80);
  --md-sys-color-surface-tint: rgb(0 105 112);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(35 128 135);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(46 71 73);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(96 121 123);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(52 67 96);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(101 117 148);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(244 250 251);
  --md-sys-color-on-background: rgb(22 29 29);
  --md-sys-color-surface: rgb(244 250 251);
  --md-sys-color-on-surface: rgb(22 29 29);
  --md-sys-color-surface-variant: rgb(218 228 229);
  --md-sys-color-on-surface-variant: rgb(59 69 69);
  --md-sys-color-outline: rgb(87 97 98);
  --md-sys-color-outline-variant: rgb(115 124 125);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 50 50);
  --md-sys-color-inverse-on-surface: rgb(236 242 242);
  --md-sys-color-inverse-primary: rgb(128 212 219);
  --md-sys-color-primary-fixed: rgb(35 128 135);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(0 102 109);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(96 121 123);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(71 96 99);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(101 117 148);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(77 92 122);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(213 219 219);
  --md-sys-color-surface-bright: rgb(244 250 251);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 245);
  --md-sys-color-surface-container: rgb(233 239 239);
  --md-sys-color-surface-container-high: rgb(227 233 234);
  --md-sys-color-surface-container-highest: rgb(221 228 228);
}
